{
  auto_https off
}

{$APP_DOMAIN} {
  encode zstd gzip
  reverse_proxy web:3000
  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "camera=(), microphone=(), geolocation=(), interest-cohort=()"
  }
}
